@import '../../../styles.scss';

.log-in {
    height: 100vh;
    background-color: $background-color;
    @include center();
}

.log-in-window {
    background-color: $secondary-color;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    @include center($g : 16px);
    flex-direction: column;
}
