<div class="log-in">
  <div class="log-in-window">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div>
          <label for="username">Name</label>
        </div>
        <div>
          <input type="text" id="username" formControlName="username" class="form-control"
            placeholder="Deine Name" required />
        </div>
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
          Deine Name wird benötigt!
        </div>
      </div>

      <div class="form-group">
        <div>
          <label for="password">Passwort</label>
        </div>
        <div>
          <input type="password" id="password" formControlName="password" class="form-control"
            placeholder="Dein Passwort" required />
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
          Dein Passwort wird benötigt!
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>

    <p class="register-link">
      Noch kein Mitglied? <a routerLink="/signIn">Registriere hier</a>
    </p>
  </div>
</div>